<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Doing things with codes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Hello World!</h1>
						<p> I'm Cibely, and here I share some of my projects. <br /> Doing things with codes...</p>
					</header>
					<a href="#main" class="button big scrolly">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section id="banner">
						<div class="inner">
							<!-- 2 Columns -->
								<header>
										<h2>Who am I? 🖖</h2>
										<p>I’m BS in Science and Technology (2015), BS in Computer Engineering (2017), and MSc in Electrical Engineering (2019). Currently a PhD candidate in Electrical Engineering, with research in the area of intelligent control, neural control, neural networks.</p>
										<p>Using the free time to code something.. Let's code?  </p>
								</header>
						</div>
					</section>

				<!-- Section -->
					<section class="banner">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>Current project</h3>
									<p>Reinforcement learning and neural networks to solve some nonlinear control problems;</p>
									<p> News soon  (under construction)</p>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="default.html" class="link"><img src="images/proj5.png" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Past projects</h2>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/proj1.png" alt="" />
									</div>
									<p>An alternative of a pedestrian detection system that can replace the button press system. </p>
									<a href="https://github.com/roscibely/Traffic-lights-simulation-AnyLogic" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/proj2.png" alt="" />
									</div>
									<p>Robust predictive control with anti-windup for LTV and LPV systems. </p>
									<a href="https://github.com/roscibely/MPC-control-with-LMIs" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/proj4.png" alt="" />
									</div>
									<p>Computer graphics: texture and altimetry of the planet Mars in a sphere. </p>
									<a href="https://github.com/roscibely/Computer-graphics" class="button">Learn More</a>
								</div>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<p>Programming languages</p>
					<ul class="icons">
						<li><a><span class="image round fit"><img src="images/matlab.png" alt="" /></span></a></li>
						<li><a><span class="image round fit"><img src="images/py.png" alt="" /></span></a></li>
						<li><a><span class="image round fit"><img src="images/java.png" alt="" /></span></a></li>
						<li><a><span class="image round fit"><img src="images/cmais.png" alt="" /></span></a></li>
						<li><a><span class="image round fit"><img src="images/c.png" alt="" /></span></a></li>
						<li><a><span class="image round fit"><img src="images/scilab.png" alt="" /></span></a></li>
						<li><a><span class="image round fit"><img src="images/octave.png" alt="" /></span></a></li>
					</ul>
					<p>&copy; All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. </p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
