<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Doing things with codes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Hello World!</h1>
					</header>
					<a href="#main" class="button big scrolly">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section id="banner">
						<div class="inner">
							<!-- 2 Columns -->
								<header>
										<h3>Who am I? 🖖</h3>
										<p>I'm Cibely. I’m BS in Science and Technology (2015), BS in Computer Engineering (2017), and MSc in Electrical Engineering (2019). Currently a PhD candidate in Electrical Engineering, with research in the area of intelligent control, neural control, neural networks.</p>
										<p>Using the free time to code something.</p>
								</header>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<header class="align-center">
								<h2>Current project: Nonlinear control</h2>
								<p>Control of nonlinear systems plays a crucial role in many practical systems. 
									Most of the real systems are nonlinear, then performs control of nonlinear systems are such important. </p>
								<h3>There are many challenges, for example:  </h3>
								<p>Landing a ship on high seas.
									The control problem: to track a motion consisting of a superposition of oscillations of unknown frequency,
									amplitude, and phase despite large model uncertainties.</p>
								<p>Floating offshore wind turbines. A 100m tall wind tower supporting a 5MW turbine is no visible if at 35km from the shore.
									At this distance, stronger and steadier wind prevails. But water depths prevent floor-mounted twoers: floating towers are the solution. 
									The control problem: to reject a disturbance consisting of a superposition of oscillations of unknown frequency,
									amplitude and phase despite large model uncertainties.</p>
							</header>		
							<div class="flex flex-1">
								<div class="col col1">
									<h3> Inverted pendulum</h3>
									<p>The following two videos display the inverted pendulum no controlled 
										and controlled. </p>
									<div class="video wrapper">
										<div style="float:left">
											<iframe width="360" height="215" src="images/nocontrolpendulum.mp4"></iframe>
										</div><div style="float:right">
											<iframe width="360" height="215" src="images/pendulumControl.mp4"></iframe>
										</div>
											
									</div>
								</div>
							</div>
							<div class="flex flex-1">
								<div class="col col1">
									<h3>Project</h3>
									<p>We are working on the development of a learning-based robust control.</p>
									<div class="image round fit">
										<img src="images/proj5.png" alt=""  width="200" height="300" />
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<header class="align-center">
								<h2>Past projects</h2>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<a href="https://github.com/roscibely/Traffic-lights-simulation-AnyLogic" class="link"><img src="images/proj1.png" alt="" /></a>
									</div>
									<p>An alternative of a pedestrian detection system that can replace the button press system. </p>
									
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<a href="" class="link"><img src="images/proj2.png" alt="" /></a>
									</div>
									<p>Robust predictive control with anti-windup for LTV and LPV systems. </p>
								
								</div>
								<div class="col align-center">
									<div class="image round fit">
									<a href="https://github.com/roscibely/Computer-graphics" class="link"><img src="images/proj4.png" alt="" /></a>
									</div>
									<p>Computer graphics: texture and altimetry of the planet Mars in a sphere. </p>
								</div>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<p>Programming languages</p>
					<ul class="icons">
						<li><a><span class="image round fit"><img src="images/matlab.png" alt="" /></span></a></li>
						<li><a><span class="image round fit"><img src="images/py.png" alt="" /></span></a></li>
						<li><a><span class="image round fit"><img src="images/java.png" alt="" /></span></a></li>
						<li><a><span class="image round fit"><img src="images/cmais.png" alt="" /></span></a></li>
						<li><a><span class="image round fit"><img src="images/c.png" alt="" /></span></a></li>
						<li><a><span class="image round fit"><img src="images/scilab.png" alt="" /></span></a></li>
						<li><a><span class="image round fit"><img src="images/octave.png" alt="" /></span></a></li>
					</ul>
					<p>&copy; All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. </p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
